.navbar {
  background-color: #ffffffe2;
  backdrop-filter: saturate(170%) blur(17px);
}

.navbar-nav .nav-item  .active{
  color: #0D6EFD;
}

.card {
  width: 400px;
  border: none;
  background-color: aliceblue;
  box-shadow: #0000001f -10px 10px 30px;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
}

.newsContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

#loadingDiv {
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
}

#loadingDiv #circle {
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-top-color: #0D6EFD;
  border-radius: 100%;
  animation: loadingAnimation 1s linear infinite;
}

@keyframes loadingAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}